﻿@model FPS.BusinessLayer.ViewModel.AuthenticationModel.SignInModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/authen.css">
    <title>Modern Login Page</title>
</head>

<body>
    <div class="wrapper" id="wrapper">
            @using (Html.BeginForm("Index", "Authentication", FormMethod.Post))
            {
                <h1>Login</h1>
                <div class="input-box">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
                <div class="input-box">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button class="btn" type="submit">Login</button>
                <div class="register-link">
                    <a href="@Url.Action("SignUp", "Authentication")">Don't have an account? Sign Up</a>
                </div>
            }
    </div>
    <script src="~/js/authen.js"></script>
</body>

</html>
