﻿@model FPS.BusinessLayer.ViewModel.Authentication.SignUpModel

@{
    ViewData["Title"] = "SignUp";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/authen.css">
    <title>SignUp Page</title>
</head>

<body>
    <div class="container" id="container">
        <div class="wrapper sign-in">
            @using (Html.BeginForm("SignUp", "Authentication", FormMethod.Post))
            {
                <h1>Sign Up</h1>
                <div class="input-box">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "Full Name" })
                </div>
                <div class="input-box">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
                <div class="input-box">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="input-box">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                </div>
                <button class="btn" type="submit">Sign Up</button>
                <div class="register-link">
                <a href="@Url.Action("Index", "Authentication")">You already have an account? Sign In</a>
                </div>
            }
        </div>
    </div>

    <script src="~/js/authen.js"></script>
</body>

</html>