﻿@{
    var userEmail = ViewData["UserEmail"] as string;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/sb-admin/css/style.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>FPS HomePage</title>
    <style>
        .buttonLogin {
            appearance: none;
            background-color: transparent;
            border: 2px solid #1A1A1A;
            border-radius: 15px;
            box-sizing: border-box;
            color: #3B3B3B;
            cursor: pointer;
            display: inline-block;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            min-height: 20px;
            min-width: 0;
            outline: none;
            padding: 5px 12px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 8%;
            will-change: transform;
        }

            .buttonLogin:disabled {
                pointer-events: none;
            }

            .buttonLogin:hover {
                color: #fff;
                background-color: #1A1A1A;
                box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                transform: translateY(-2px);
            }

            .buttonLogin:active {
                box-shadow: none;
                transform: translateY(0);
            }

        .profile {
            position: relative;
            display: inline-block;
        }

            .profile img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }

        .dropdown-menu {
            display: none;
            position: absolute;
            z-index: 1;
            background-color: #fff;
            min-width: 200px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            padding: 12px 0;
            border-radius: 8px;
            right: 0;
            overflow: hidden;
        }

            .dropdown-menu a,
            .dropdown-menu .btn {
                display: block;
                text-decoration: none;
                color: #333;
                padding: 10px 20px;
                transition: all 0.3s ease;
            }

                .dropdown-menu a:hover,
                .dropdown-menu .btn:hover {
                    background-color: #f5f5f5;
                    color: #666;
                }

        .btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-family: inherit;
            padding: 0;
            width: 100%;
            text-align: left;
        }

            .btn:hover {
                color: #666;
            }

        .dropdown-menu::before {
            content: '';
            position: absolute;
            top: -8px;
            right: 16px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;
        }
    </style>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>Nhu</span>Khoa</div>
        </a>

        <ul class="side-menu">
            <li><a href="#"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a asp-controller="Company" asp-action="Index"><i class='bx bxs-dashboard'></i>Company</a></li>
            <li><a href="#"><i class='bx bx-store-alt'></i>Shop</a></li>
            <li class="active"><a href="#"><i class='bx bx-analyse'></i>Analytics</a></li>
            <li><a href="#"><i class='bx bx-message-square-dots'></i>Tickets</a></li>
            <li><a href="#"><i class='bx bx-group'></i>Users</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->
    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>

            @if (!string.IsNullOrEmpty(userEmail))
            {
                <div class="profile">
                    <img src="../img/defaultShinvatar.jpg" id="profileImage">
                    <div class="dropdown-menu">
                        <a href="#">Edit Profile</a>
                        <form id="logoutForm" asp-controller="Authentication" asp-action="Logout" method="post" class="form-inline">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn">Logout</button>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <button class="buttonLogin" role="button">Login</button>
            }
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">
                                Analytics
                            </a>
                        </li>
                        <li><a href="#" class="active">Shop</a></li>
                    </ul>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download CSV</span>
                </a>
            </div>
            <div>         
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="~/sb-admin/js/index.js"></script>
    <script>
        //Button login
        document.addEventListener('DOMContentLoaded', function () {
            var buttonLogin = document.querySelector('.buttonLogin');
            buttonLogin.addEventListener('click', function () {
                var url = '@Url.Action("Index", "Authentication")';
                window.location.href = url;
            });
        });

        //Profile Image click
        document.addEventListener('DOMContentLoaded', function () {
            var profileImage = document.getElementById('profileImage');
            var dropdownMenu = document.querySelector('.dropdown-menu');

            profileImage.addEventListener('click', function () {
                dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
            });

            window.addEventListener('click', function (event) {
                if (!event.target.matches('#profileImage')) {
                    dropdownMenu.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>